/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#98a1f5;
    background-image:linear-gradient(top, #1328eb 0%, #98a1f5 51%);
    background-image:-webkit-linear-gradient(top, #1328eb 0%, #98a1f5 51%);
    background-image:-ms-linear-gradient(top, #1328eb 0%, #98a1f5 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #1328eb),
        color-stop(0.51, #98a1f5)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0;
    padding:15px;
    text-transform:uppercase;
    width:100%;
	text-align:center;
}

p{
	margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-size:18px;
    font-weight:normal;
    margin:0;
    overflow:visible;
    padding:0;
    text-align:center;
}

a{
	text-decoration: none;
}

button {
	outline: none;
	border-radius: 25px;
	background: #dcdcde;
	padding: 5px;
	width: 45%;
	height: 50px;
	text-transform:uppercase;
}

/* Portrait layout (default) */
.app {
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  margin: 0 0 15px 0;
}

[class*="col-"]::after {
	  display: table;
}

@media only screen and (min-height: 480px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


@keyframes popup {
    from { opacity: 0.0; display: inline;}
    30% { opacity: 1.0; }
	70% { opacity: 1.0; }
    to { opacity: 0.0; display: none;}
}

.popup{
	animation: popup 3000ms both;
	-webkit-animation: popup 3000ms both;	
}

.messagebox{
	display: none;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	background-color: grey;	
	border-radius: 15px;
	padding: 15px;
}


.panel{
	background-color:white;	
	border-radius:25px;
	border: 1px solid black;
	padding:5px 25px 5px 25px;
}
.timer {
	font-size:72px;
	text-align:center;
	padding:0;
	margin:0; 
}

.test {
	background-color:red;	
	border-radius:25px;
	height:50px;
	width:50px;
	padding:5px;
}

.control{
	display: inline-block;
	width: 20px;
	height: 20px;
}
